.cadastro-produto {
  margin-top: 30px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}

.cadastro-produto h2,
.cadastro-produto h3 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.cadastro-produto form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
}

.cadastro-produto input {
  flex: 1 1 48%;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.cadastro-produto input:last-child {
  flex-basis: 100%;
}

.cadastro-produto button {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  background-color: var(--primary-hover);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.cadastro-produto button:hover {
  background-color: var(--primary-hover);
}

.cadastro-produto .cancelar-btn {
  background-color: #bbb;
  color: #333;
  margin-top: 10px;
}

.cadastro-produto .cancelar-btn:hover {
  background-color: #999;
}

@media (max-width: 600px) {
  .cadastro-produto form {
    flex-direction: column;
  }

  .cadastro-produto input {
    flex-basis: 100%;
  }
}
